{erl_opts, [debug_info]}.
{plugins, [
    { pc, {git, "https://github.com/blt/port_compiler", {branch, "master"}}}
]}.

{deps, [
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        {jiffy, {git, "git://github.com/davisp/jiffy", {branch, "master"}}}
       ]}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.